{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../nus/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../nus/static/assets/img/favicon.png">
  <title>
    Intelligent Reservation Agent - {{ username }}
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../nus/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../nus/static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../nus/static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            ISS
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            IRS Project Team
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="{{ngrok_address2}}intelligentreservationagent/business_dashboard">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard (Reservations)</p>
            </a>
          </li>
          <li>
            <a href="{{ngrok_address2}}intelligentreservationagent/business_dashboard2">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard (Queries)</p>
            </a>
          </li>
          <li>
            <a href="{{ngrok_address2}}intelligentreservationagent/business_dashboard3">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard (Insight)</p>
            </a>
          </li>
          <li class="active">
            <a href="{{ngrok_address2}}intelligentreservationagent/business_registration">
              <i class="tim-icons icon-pin"></i>
              <p>Business Registration</p>
            </a>
          </li>
          <li>
            <a href="{{ngrok_address2}}intelligentreservationagent/business_profile">
              <i class="tim-icons icon-single-02"></i>
              <p>Profile</p>
            </a>
          </li>
          <li>
            <a href="{{ngrok_address2}}intelligentreservationagent/business_support">
              <i class="tim-icons icon-world"></i>
              <p>Support</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Intelligent Reservation Agent - {{ username }}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        {% for ass in backends.associated %}
                        {% if ass.provider == 'facebook' %}
                        <div class="photo">
                          <!--<img src="../assets/img/anime3.png" alt="Profile Photo">-->
                          <img src="{{ass.extra_data.picture.data.url}}" alt="Profile Photo">
                        </div>
                        {% endif %}
                  {% endfor %}
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="{{ngrok_address2}}intelligentreservationagent/business_profile" class="nav-item dropdown-item">Profile</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="{% url 'business_logout' %}" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-body">
                <div class="col-md-12">
                  <div class="card-header">
                    <h4 class="card-title">Registered Business</h4>
                  </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>No</th>
                        <th>Company</th>
                        <th>Bussiness Id</th>
                        <th>Modify</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <form action="{% url 'business_registration' %}" method="post">
                    {% csrf_token %}
                    <tbody>
                      {% for k,c11 in mylist %}
                      <tr>
                        <td>
                          {{ k }}
                        </td>
                        <td>
                          {{ c11.company }}
                        </td>
                        <td>
                          {{ c11.username }}
                        <td>
                          <button type="submit" name="modify" value={{c11.username}} class="btn btn-fill btn-primary"><a>Modify</a></button>
                        </td>
                        <td>
                          <button type="submit" name="delete" value={{c11.username}} class="btn btn-fill btn-primary"><a>Delete</a></button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </form>
                  </table>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                {% if d %}
                <h4 class="card-title">Modification</h4>
                Back to New Business: <a href="{{ngrok_address2}}intelligentreservationagent/business_registration" class="btn btn-fill btn-primary">New</a> 
                {% else %}
                <h4 class="card-title">New Business</h4>
                {% endif %}
              </div>
              <div class="card-body">
                <form action="{% url 'business_registration' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-5 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Unique ID (System Generate : No need fill)</label>
                        <input type="text" class="form-control" name="unique_id" placeholder="System Generate" value="{{ d.username }}" onkeypress="return false;">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Company</label>
                        <input type="text" class="form-control" name="company" placeholder="Company Name" required="" value="{{ d.company }}">
                      </div>
                    </div>
                    <div class="col-md-5 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Location</label>
                        <input type="text" class="form-control" name="location" placeholder="Address" required="" value="{{ d.location }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Contact</label>
                        <input type="text" class="form-control" name="contact" placeholder="+6512345678" required="" value="{{ d.contact }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Type of Business</label>
                        <select class="form-control" style="color:white;" name="typeBusiness" id="calc1" value="{{ d.type_business }}" required="">
                        <option disabled selected value> -- select an option -- </option>
                        {% if d.type_business == 'Restaurant' %}
                        <option value="Restaurant" selected>Restaurant</option>
                        <option value="Clinic">Clinic</option>
                        <option value="Shop">Shop</option>
                        {% elif d.type_business == 'Clinic' %}
                        <option value="Restaurant" >Restaurant</option>
                        <option value="Clinic" selected>Clinic</option>
                        <option value="Shop">Shop</option>
                        {% elif d.type_business == 'Shop' %}
                        <option value="Restaurant" >Restaurant</option>
                        <option value="Clinic">Clinic</option>
                        <option value="Shop" selected>Shop</option>
                        {% else %}
                        <option value="Restaurant" >Restaurant</option>
                        <option value="Clinic">Clinic</option>
                        <option value="Shop">Shop</option>
                        {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5 pr-md-1">
                      <div class="form-group">
                        {% if d.type_business == 'Restaurant' %}
                        <label style="color:white;">Sub Location (example : {"S0":2,"S1":3,"S2":8,"S3":2,"S4":8})</label>
                        <input type="text" class="form-control" name="sublocation" placeholder="Sub Location (Restaurant)" id="calc2" required="" value="{{ d.sublocs }}">
                        {% else %}
                        <label style="color:white;">Sub Location (example : {"S0":2,"S1":3,"S2":8,"S3":2,"S4":8})</label>
                        <input type="text" class="form-control" name="sublocation" placeholder="Sub Location (Restaurant)" id="calc2" required="" value="" disabled="">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Max Capacity</label>
                        <input type="number" class="form-control" name="maxcapacity" placeholder="Number" required="" value={{ d.max_cap }}>
                      </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                      <div class="form-group">
                        <label style="color:white;">Open Time</label>
                        <input type="time" class="form-control" name="opentime" required="" value={{ d.open_time }}>
                      </div>
                    </div>
                     <div class="col-md-4 pl-md-1">
                      <div class="form-group">
                        <label style="color:white;">Close Time</label>
                        <input type="time" class="form-control" name="closetime" required="" value={{ d.close_time }}>
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Default Duration (min)</label>
                        <input type="number" class="form-control" name="defaulttime" required="" value={{ d.default_duration }}>
                      </div>
                    </div>
                    <div class="col-md-3 pl-md-1">
                      <div class="form-group">
                        <label style="color:white;">Maximun Group Size</label>
                        <input type="number" name="maxgroupsize" class="form-control" required="" value={{ d.max_group_size }}>
                      </div>
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col-md-12 pr-md-1">
                      <div class="form-group">
                        <h5 style="color:white;">Open Day</h5>
                        <label>Monday &nbsp&nbsp&nbsp&nbsp&nbsp:</label><input name="openmonday" type="checkbox" {% if openmonday %} checked {% endif %}>
                        <label>&nbsp&nbsp&nbsp&nbsp&nbsp Tuesday &nbsp&nbsp&nbsp&nbsp&nbsp:</label><input type="checkbox" name="opentuesday" {% if opentuesday %} checked {% endif %}>
                        <label>&nbsp&nbsp&nbsp&nbsp&nbsp Wednesday &nbsp&nbsp&nbsp&nbsp&nbsp:</label><input type="checkbox" name="openwednesday" {% if openwednesday %} checked {% endif %}>
                        <label>&nbsp&nbsp&nbsp&nbsp&nbsp Thursday &nbsp&nbsp&nbsp&nbsp&nbsp:</label><input type="checkbox" name="openthursday" {% if openthursday %} checked {% endif %}>
                        <label>&nbsp&nbsp&nbsp&nbsp&nbsp Friday &nbsp&nbsp&nbsp&nbsp&nbsp:</label><input type="checkbox" name="openfriday" {% if openfriday %} checked {% endif %}>
                        <label>&nbsp&nbsp&nbsp&nbsp&nbsp Saturday &nbsp&nbsp&nbsp&nbsp&nbsp:</label><input type="checkbox" name="opensaturday" {% if opensaturday %} checked {% endif %}>
                        <label>&nbsp&nbsp&nbsp&nbsp&nbsp Sunday &nbsp&nbsp&nbsp&nbsp&nbsp:</label><input type="checkbox" name="opensunday" {% if opensunday %} checked {% endif %}>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label style="color:white;">Send reminder &nbsp&nbsp&nbsp&nbsp&nbsp:</label>
                        <input type="checkbox" name="sendreminder"  {% if d.is_reminder %} checked {% endif %}>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Days in-advanced (For Customer to Book Reservation)-only valid for categories other than Restaurant</label>
                        <input type="number" min="0" class="form-control" name="isadvance" placeholder="Minimum is 1" id="calc3" required="" value="{{ d.days_in_advance }}">                
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label style="color:white;">Reporting Period</label>
                        <input type="text" class="form-control" name="reportingperiod" list="exampleList"  value={{ reportingperiod }}>
                        <datalist id="exampleList">
                        <option value="Weekly">  
                        <option value="Biweekly">
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" name="save" class="btn btn-fill btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            ©
           <script>
              document.write(new Date().getFullYear())
            </script> made with <i class="tim-icons icon-heart-2"></i> by
            <a href="javascript:void(0)" target="_blank">ISS IRA Team</a> for a better reservation experience.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../nus/static/assets/js/core/jquery.min.js"></script>
  <script src="../nus/static/assets/js/core/popper.min.js"></script>
  <script src="../nus/static/assets/js/core/bootstrap.min.js"></script>
  <script src="../nus/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../nus/static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../nus/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../nus/static/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../nus/static/assets/demo/demo.js"></script>
  <script>
    var newLabel = '';
    $('#calc1').on('change', function(){
      // alert($(this).find("option:selected").attr('data-value')) 
      var textinfo = $(this).find("option:selected").attr('value')
      newLabel = textinfo;
      if(newLabel=="Restaurant"){
        document.getElementById("calc2").disabled = false;
        document.getElementById("calc2").required = true;
      }else{
        document.getElementById("calc2").disabled = true;
        document.getElementById("calc2").value = '';
        document.getElementById("calc2").required = false;
      }
      }).trigger('change');
</script>
<script>
    var newLabel = '';
    $('#calc3').on('change', function(){
      // alert($(this).find("option:selected").attr('data-value')) 
      var x = document.getElementById("calc3").value;
      newLabel = Number(x);
      if(newLabel<1){
        document.getElementById("calc3").value = '0';
      }
      }).trigger('change');
</script>
<script>
    $('#calc1').css({
    'background': '#292d3d'
    });

    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>