<!-- templates/login.html -->
 {% extends 'base.html' %}
 {% block title %} Business : Login {% endblock %}
 {% block content %}
 <div class="row">
     <div class="col-md-8 mx-auto social-container my-2 order-md-1">
     	<form action="{% url 'login1_business' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label style="color:red;">{{ msg }}</label>
                        <label>Email Address</label>
                        <input type="email" class="form-control" name="email" placeholder="abc@hotmail.com" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <center><button type="submit" class="btn btn-fill btn-primary">Login</button></center>
                  </div>
                  <div>
            </form>
     </div>
 </div>
 </div>
 {% endblock %}