<!-- templates/login.html -->
 {% extends 'base.html' %}
 {% block title %} Business : Login {% endblock %}
 {% block content %}
 <div class="row">
     <div class="col-md-8 mx-auto social-container my-2 order-md-1">
     	 <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Hi {{ username }}, you are successful logout.</label>
                      </div>
                    </div>
                  </div>
                  
                  <div>
                    <center><button type="submit" class="btn btn-fill btn-primary"><a href="{{ngrok_address2}}intelligentreservationagent/login">Back to Login Page</a></button></center>
                  </div>
        </div>
     </div>
 </div>
 </div>
 {% endblock %}