<!-- templates/login.html -->

 {% extends 'base.html' %}
 {% block title %} Your password must follow these 4 rules: {% endblock %}
 {% block content %}
 <div class="row">
     <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>1) Your password must be between 6 and 20 characters.</label>
                        <label>2) Your password must be at least one numeral.</label>
                        <label>3) Your password must be at least one uppercase letter</label>
                        <label>4) Your password must be at least one lowercase letter</label>
                      </div>
                    </div>
                  </div>
                  
                  <div>
                    <center><button type="submit" class="btn btn-fill btn-primary"><a href="{{ngrok_address2}}intelligentreservationagent/login?next=/intelligentreservationagent/">Go back</a></button></center>
                  </div>
        </div>
 </div>
 {% endblock %}